#List

Managing a list of pet dictionaries

In [3]:
pets = [
    {"name": "Bella", "type": "Dog", "age": 5},
    {"name": "Charlie", "type": "Cat", "age": 3},
    {"name": "Max", "type": "Dog", "age": 2}
]
# Adding a new pet
pets.append({"name": "Luna", "type": "Bird", "age": 1})

# Removing a pet by name
pets = [pet for pet in pets if pet["name"] != "Charlie"]

# Updating the age of a pet
for pet in pets:
    if pet["name"] == "Max":
        pet["age"] = 3

print(pets)

[{'name': 'Bella', 'type': 'Dog', 'age': 5}, {'name': 'Max', 'type': 'Dog', 'age': 3}, {'name': 'Luna', 'type': 'Bird', 'age': 1}]

Filtering and sorting pets based on type and age:

In [4]:
pets = [
    {"name": "Bella", "type": "Dog", "age": 5},
    {"name": "Charlie", "type": "Cat", "age": 3},
    {"name": "Max", "type": "Dog", "age": 2},
    {"name": "Luna", "type": "Bird", "age": 1},
    {"name": "Rocky", "type": "Hamster", "age": 2}
]

# Filter pets that are dogs
dogs = [pet for pet in pets if pet["type"] == "Dog"]

# Sort pets by age
sorted_pets = sorted(pets, key=lambda pet: pet["age"])

print("Dogs:", dogs)
print("Sorted pets by age:", sorted_pets)

Dogs: [{'name': 'Bella', 'type': 'Dog', 'age': 5}, {'name': 'Max', 'type': 'Dog', 'age': 2}]
Sorted pets by age: [{'name': 'Luna', 'type': 'Bird', 'age': 1}, {'name': 'Max', 'type': 'Dog', 'age': 2}, {'name': 'Rocky', 'type': 'Hamster', 'age': 2}, {'name': 'Charlie', 'type': 'Cat', 'age': 3}, {'name': 'Bella', 'type': 'Dog', 'age': 5}]

Merging and manipulating lists of pet names:

In [5]:
dogs = ["Bella", "Max"]
cats = ["Charlie"]
birds = ["Luna"]

# Merging lists
all_pets = dogs + cats + birds

# Adding multiple pets
all_pets.extend(["Rocky", "Buddy"])

# Removing a pet by index
del all_pets[all_pets.index("Charlie")]

print(all_pets)

['Bella', 'Max', 'Luna', 'Rocky', 'Buddy']

#Tuples

Creating a tuple of pet details and accessing elements:

In [6]:
pet_details = ("Bella", "Dog", 5)

# Accessing elements
pet_name = pet_details[0]
pet_type = pet_details[1]
pet_age = pet_details[2]

print(f"Pet Name: {pet_name}, Type: {pet_type}, Age: {pet_age}")

Pet Name: Bella, Type: Dog, Age: 5

Storing pet tuples in a list and processing them:

In [7]:
pets = [
    ("Bella", "Dog", 5),
    ("Charlie", "Cat", 3),
    ("Max", "Dog", 2)
]

# Calculate average age of pets
total_age = sum(pet[2] for pet in pets)
average_age = total_age / len(pets)

# Find all dogs
dogs = [pet for pet in pets if pet[1] == "Dog"]

print(f"Average Age: {average_age}")
print("Dogs:", dogs)

Average Age: 3.3333333333333335
Dogs: [('Bella', 'Dog', 5), ('Max', 'Dog', 2)]

Unpacking pet tuple details:

In [8]:
pet = ("Luna", "Bird", 1)

# Unpacking
name, type_, age = pet

print(f"Pet Name: {name}, Type: {type_}, Age: {age}")

Pet Name: Luna, Type: Bird, Age: 1

#Dictionaries

Managing a dictionary of pets with nested details:

In [9]:
pets = {
    "Bella": {"type": "Dog", "age": 5},
    "Charlie": {"type": "Cat", "age": 3},
    "Max": {"type": "Dog", "age": 2}
}

# Adding a new pet
pets["Luna"] = {"type": "Bird", "age": 1}

# Updating a pet's age
pets["Max"]["age"] = 3

# Removing a pet
del pets["Charlie"]

print(pets)

{'Bella': {'type': 'Dog', 'age': 5}, 'Max': {'type': 'Dog', 'age': 3}, 'Luna': {'type': 'Bird', 'age': 1}}

Iterating through a dictionary of pets:

In [10]:
pets = {
    "Bella": {"type": "Dog", "age": 5},
    "Charlie": {"type": "Cat", "age": 3},
    "Max": {"type": "Dog", "age": 2},
    "Luna": {"type": "Bird", "age": 1}
}

# Printing pet details
for name, details in pets.items():
    print(f"Pet Name: {name}, Type: {details['type']}, Age: {details['age']}")

Pet Name: Bella, Type: Dog, Age: 5
Pet Name: Charlie, Type: Cat, Age: 3
Pet Name: Max, Type: Dog, Age: 2
Pet Name: Luna, Type: Bird, Age: 1

Finding pets by type in a dictionary:

In [11]:
pets = {
    "Bella": {"type": "Dog", "age": 5},
    "Charlie": {"type": "Cat", "age": 3},
    "Max": {"type": "Dog", "age": 2},
    "Luna": {"type": "Bird", "age": 1}
}

# Find all cats
cats = {name: details for name, details in pets.items() if details["type"] == "Cat"}

print("Cats:", cats)

Cats: {'Charlie': {'type': 'Cat', 'age': 3}}

#Sets

Creating and manipulating sets of pet names:

In [12]:
pet_names = {"Bella", "Charlie", "Max", "Luna"}

# Adding a pet name
pet_names.add("Rocky")

# Removing a pet name
pet_names.discard("Charlie")

# Checking membership
is_present = "Bella" in pet_names

print("Pet Names:", pet_names)
print("Is 'Bella' present?", is_present)

Pet Names: {'Luna', 'Bella', 'Max', 'Rocky'}
Is 'Bella' present? True

Set operations with pet names:

In [13]:
pets_in_house_1 = {"Bella", "Max", "Rocky"}
pets_in_house_2 = {"Luna", "Rocky", "Buddy"}

# Union of two sets
all_pets = pets_in_house_1 | pets_in_house_2

# Intersection of two sets
common_pets = pets_in_house_1 & pets_in_house_2

# Difference between two sets
unique_pets_house_1 = pets_in_house_1 - pets_in_house_2

print("All Pets:", all_pets)
print("Common Pets:", common_pets)
print("Unique Pets in House 1:", unique_pets_house_1)

All Pets: {'Rocky', 'Buddy', 'Luna', 'Bella', 'Max'}
Common Pets: {'Rocky'}
Unique Pets in House 1: {'Max', 'Bella'}

Finding pets only in one house (symmetric difference):

In [14]:
pets_in_house_1 = {"Bella", "Max", "Rocky"}
pets_in_house_2 = {"Luna", "Rocky", "Buddy"}

# Symmetric difference
unique_pets = pets_in_house_1 ^ pets_in_house_2

print("Unique Pets (only in one house):", unique_pets)

Unique Pets (only in one house): {'Buddy', 'Luna', 'Bella', 'Max'}